@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
    padding:0;
    margin:0;
    text-align:center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#top-frame {
    margin-left: 150px;
    margin-right:200px;
    margin-top: 35px;
    border-bottom: 1px solid #b7b7b7;
    text-align:left;
}

#main-frame {
    margin-right:200px;
    margin-left: 150px;
}

#debug-frame {
    margin-right:200px;
    margin-left: 150px;
    margin-top: 30px;
}

#error-frame {
    margin-right:200px;
    margin-left: 150px;
    margin-top: 30px;
}
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------*/
.no-close .ui-dialog-titlebar-close {display:none;}
.dialog-container-static > .ui-dialog{position:static;}
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------*/
.form-table {
    width:100%;
    border-collapse:collapse;
}

.form-table th, .form-table td {
    padding:5px;
}

.form-table th {
    text-align: center;
    background:#7fbbfa;
    color: #ffffff;
}

.form-table tr.error {
    border: 1px solid red;
}

.label {text-align:right;font-weight:bold;margin-left:5px;}

.icon-invalid, .invalid{
    display:inline-block;
    padding:0px;
    margin-left: 5px;
    width:16px;
    height:16px;
    background:url(../img/icon-check.png) 0px 0px no-repeat;
}
.icon-valid, .valid{
    display:inline-block;
    padding:0px;
    margin-left: 5px;
    width:16px;
    height:16px;
    background:url(../img/icon-check.png) -16px 0px no-repeat;
}

.icon-ajax{
    display:inline-block;
    padding:0px;
    margin-left: 5px;
    width:16px;
    height:16px;
    background:url(../img/ajax-loader.gif) 0px 0px no-repeat;
}

button.icon-button {
    margin-left: 20px;
    padding: 4px 0;
    cursor: pointer;
}

button span.ui-icon {
    float: left;
    margin: 0 4px;
}

/* Giving a background-color to the nav container. */
nav { 
        zoom: 1;
	font-family: 'Open Sans', sans-serif;
        margin:10px 0;
        height: 40px;
	background-color: #009ED8;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #0084D6;
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        display:inline-block;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	padding-left:0;
	margin:0;
	list-style: none;
	position: relative;
        display: inline-block;
}
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #009ED8;
        border-right: 1px solid #7AB3D3; 
	}

/* Styling the links */
nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 40px;
	text-decoration:none;
        border-right: 1px solid #0084D6;
}




/* Background color change on Hover */
nav a:hover { 
	background-color: #FFFFFF;
        color: #009ED8;
}

nav a span {
    float:right;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
        text-align:left;
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 40px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-40px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol 
li.rootmenu > a:after { content:  "\25be"; }
li > a:after { content:  "\25b8"; }
li > a:only-child:after { content: ''; }
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------*/
