@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
    padding:0;
    margin:0;
    background:#e0e0e0;
    text-align:center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#auth-frame {
    display: inline-block;
    background: #FFE44F;
    padding: 10px 15px;
    margin: 0 35px 10px 0;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#page-wrapper {
    margin: 35px 200px 35px 150px;
    padding: 10px;
    background: #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#top-frame {
    padding: 0;
    border-bottom: 1px solid #b7b7b7;
    text-align:left;
}

#menu-frame {
    text-align: center;
}

#main-frame {
}

#debug-frame {
    margin-right:200px;
    margin-left: 150px;
    margin-top: 30px;
}

#error-frame {
    margin-left: 150px;
}

#content-wrapper {
}

#content-frame {
    text-align: left;
    min-height: 400px;
    margin-left: 150px;
    padding: 5px 10px 10px 30px;
}

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------*/
.no-close .ui-dialog-titlebar-close {display:none;}
.dialog-container-static > .ui-dialog{position:static;}
/*-----------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------*/
.form-table {
    width:100%;
    border-collapse:collapse;
}
.form-table th, .form-table td {
    padding:5px;
}
.form-table th {
    text-align: center;
    background:#7fbbfa;
    color: #ffffff;
}
.form-table i.icon-ok {
    color:blue;
}
.form-table i.icon-invalid {
    color:red;
}
.label {text-align:right;font-weight:bold;margin-left:5px;}
/* ------------Menu----------------- */
#menu-frame nav { 
    zoom: 1;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #009ED8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #0084D6;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    display:inline-block;
}
#menu-frame nav:after {
    content:"";
    display:table;
    clear:both;
}
#menu-frame nav ul {
    padding-left:0;
    margin:0;
    list-style: none;
    position: relative;
    display: inline-block;
}
#menu-frame nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #009ED8;
}
#menu-frame nav a {
    display:block;
    padding:0 10px;	
    color:#FFF;
    font-size:15px;
    font-weight: bold;
    line-height: 40px;
    text-decoration:none;
}
#menu-frame nav ul li {
    border-right: 1px solid #7AB3D3; 
}
#menu-frame nav ul li > a {
    border-right: 1px solid #0084D6;
}
#menu-frame nav a:hover { 
    background-color: #FFFFFF;
    color: #009ED8;
}
#menu-frame nav a span {
    float:right;
}
#menu-frame nav ul ul {
    text-align:left;
    display: none;
    position: absolute; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #0084D6;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    top: 40px; 
}
#menu-frame nav ul li:hover > ul {
    display:inherit;
}
#menu-frame nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}
#menu-frame nav ul ul ul {
    text-align:left;
    display: none;
    position: absolute; 
    left: 170px;
    top: 0px;
}
#vert-nav {
    font-size:1.5em; 
    width:150px;
    text-align: left;
    float: left;
    border-left: 1px solid #CCC; 
}
#vert-nav ul {
    padding: 0;
    margin: 0;
    border-left: 1px solid #FFF; 
    width:300px;
}
#vert-nav li {
    list-style: none;
    padding:8px 0px 20px 40px;
    margin-left:-33px;
} 
#vert-nav a {
    color: #000;  
    display:block;  
    text-decoration:none;
}
#vert-nav li:hover {
    color: #FFF;
    background:url('../img/nav.png') top left no-repeat;
}

#vert-nav li:hover a{
    color: #FFF;
}